@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Unbounded", sans-serif;
  box-sizing: border-box;
  background: #FFFFFF;
  font-weight: 300;
}

body.scrollHidden {
  overflow: hidden;
}

.content {
  position: relative;
}

.container {
  max-width: 1200px;
  min-width: 335px;
  margin: 0px auto;
}

.hero-wrap, .nav-wrap {
  background-color: #151515;
}

.nav__transparent-bg {
  background: rgba(0, 0, 0, 0.1);
}

.nav-hero-wrapper {
  background-color: #151515;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
  position: relative;
}
.navbar__logo {
  max-width: 165px;
}
.navbar__menu {
  display: flex;
  gap: 36px;
}
.navbar__menu-item a {
  display: block;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 22px 12px;
  font-weight: 200;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.navbar__menu-item a.active, .navbar__menu-item a:hover {
  background: #000000;
}
.navbar__lang {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar__lang-text {
  color: #FFFFFF;
}

.navbar__btn {
  background: transparent;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 18px;
  cursor: pointer;
  white-space: nowrap;
}

.navbar__burger {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: none;
  cursor: pointer;
}
.navbar__burger img {
  width: 25px;
  height: 15px;
}

.navbar__mobile-menu {
  position: absolute;
  left: 0;
  top: 65px;
  padding-top: 50px;
  height: 100dvh;
  width: 100%;
  z-index: 2;
  background: #151515;
  text-transform: uppercase;
  overflow: hidden;
  display: none;
  flex-direction: column;
  gap: 60px;
  color: #FFFFFF;
}
.navbar__mobile-menu a {
  text-decoration: none;
}
.navbar__mobile-menu a:visited {
  color: #FFFFFF;
}
.navbar__mobile-menu li {
  padding-left: 20px;
}

.navbar__mobile-menu.hidden {
  display: none;
}

.navbar__mobile-lang {
  margin-top: 111px;
  color: #C0C0C0;
}
.navbar__mobile-lang span.active {
  color: #FFFFFF;
}

.navbar__mobile-img {
  position: relative;
  bottom: 30%;
  height: 500px;
}

@media screen and (max-width: 1024px) {
  .navbar__menu {
    gap: 14px;
  }
  .navbar__menu-item a {
    padding: 22px 8px;
    font-size: 14px;
  }
  .navbar__btn {
    font-size: 12px;
    padding: 16px 8px;
  }
}
@media screen and (max-width: 800px) {
  .navbar__logo {
    width: 110px;
  }
  .navbar__menu {
    gap: 8px;
  }
  .navbar__menu-item a {
    padding: 22px 8px;
    font-size: 10px;
  }
  .navbar__lang {
    font-size: 10px;
  }
  .navbar__btn {
    font-size: 10px;
    padding: 16px 8px;
  }
}
@media screen and (max-width: 620px) {
  .navbar__menu, .navbar__lang {
    display: none;
  }
  .navbar__mobile-menu {
    display: flex;
  }
  .navbar__burger {
    display: block;
  }
  .navbar__btn {
    font-size: 12px;
    padding: 7px 8px;
  }
}
@media screen and (max-width: 425px) {
  .navbar__logo {
    max-width: 71px;
    height: 25px;
  }
}
.hero {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  background: #151515;
  padding-bottom: 100px;
  padding-top: 70px;
}
.hero__heading {
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 70px;
  margin-bottom: 26px;
  position: relative;
  text-transform: uppercase;
  margin-top: 0;
}
.hero__heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #FFFFFF;
  top: 50%;
  left: -102%;
}
.hero__text {
  color: #FFFFFF;
  font-size: 20px;
  position: relative;
}
.hero__ladder {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  margin-top: 42px;
  position: relative;
}
.hero__ladder-wrapper {
  position: absolute;
  top: -1px;
  right: 0;
  max-width: 810px;
}
.hero__ladder-text {
  color: #B3B3B3;
  font-size: 18px;
  background: #151515;
  padding-left: 23px;
  position: relative;
  line-height: 27px;
}
.hero__ladder-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 10px;
  background: #151515;
}
.hero__ladder-text:nth-child(1) {
  padding-top: 10px;
  padding-bottom: 20px;
}
.hero__ladder-text:nth-child(2) {
  padding-block: 24px;
  margin-left: 98px;
  max-width: 712px;
  position: relative;
  right: 0;
}
.hero__ladder-text:nth-child(3) {
  padding-top: 38px;
  padding-bottom: 22px;
  margin-left: 199px;
  max-width: 610px;
  position: relative;
  right: 0;
}
.hero__ladder-imgWrap {
  background: #151515;
  padding-top: 20px;
  padding-bottom: 28px;
  padding-left: 23px;
  margin-left: 301px;
}
.hero__ladder-bg {
  z-index: -1;
  max-height: 544px;
}

.hero__ladder-bg--small {
  display: none;
}

@media screen and (max-width: 1200px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero__heading::before {
    display: none;
  }
  .hero__text {
    font-size: 14px;
    line-height: 1.3;
  }
  .hero__ladder {
    margin-top: 30px;
    padding: 0;
  }
  .hero__ladder-text {
    font-size: 16px;
  }
  .hero__ladder-imgWrap {
    padding-top: 26px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__ladder-text:nth-child(1), .hero__ladder-text:nth-child(2), .hero__ladder-text:nth-child(3), .hero__ladder-imgWrap {
    margin-left: 0;
    padding: 0;
  }
  .hero__ladder-wrapper {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hero__ladder-bg {
    display: none;
  }
  .hero__ladder-bg--small {
    display: block;
    margin-top: 30px;
    max-width: 550px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .hero__heading {
    font-size: 26px;
  }
}
@media screen and (max-width: 425px) {
  .hero {
    padding-top: 49.5px;
    padding-bottom: 20px;
  }
  .hero__heading {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .hero__text {
    font-size: 14px;
  }
  .hero__ladder {
    margin-top: 20px;
  }
  .hero__ladder-img {
    width: 201px;
  }
  .hero__ladder-bg--small {
    margin-top: 15px;
  }
}
.about {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  padding: 139px 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.about__heading {
  font-size: 40px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 60px;
  position: relative;
  text-transform: uppercase;
}
.about__heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000000;
  top: 50%;
  left: -102%;
}
.about__wrapper {
  display: flex;
  gap: 20px;
}
.about__categories {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__category {
  background: transparent;
  color: #B3B3B3;
  border: 1px solid #B3B3B3;
  padding: 14px 0px;
  width: 285px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 200ms ease;
}
.about__category:hover, .about__category.active {
  background: #151515;
  border-color: #151515;
  color: #FFFFFF;
}
.about__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about__img {
  max-width: 895px;
  flex-grow: 1;
  object-fit: contain;
}
.about__text {
  font-size: 18px;
  line-height: 130%;
}

@media screen and (max-width: 1200px) {
  .about__wrapper {
    margin: 0px auto;
  }
  .about__description {
    max-width: 690px;
  }
  .about__img {
    object-fit: cover;
  }
  .about__category {
    font-size: 14px;
    width: 200px;
  }
  .about__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .about {
    padding: 60px 20px;
  }
  .about__heading::before {
    display: none;
  }
  .about__wrapper {
    flex-direction: column;
    margin: 0px;
  }
  .about__categories {
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
  }
  .about__categories::-webkit-scrollbar {
    display: none;
  }
  .about__category {
    white-space: nowrap;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 600px) {
  .about__heading {
    font-size: 26px;
  }
}
@media screen and (max-width: 425px) {
  .about {
    padding-top: 0;
    padding-bottom: 0;
  }
  .about__heading {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .about__categories {
    gap: 10px;
  }
  .about__category {
    font-size: 12px;
    padding: 12px 0 13px;
    text-align: center;
  }
  .about__description {
    gap: 10px;
  }
  .about__text {
    font-size: 14px;
  }
  .about__img {
    max-height: 179px;
  }
}
.footer {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  padding-top: 70px;
  position: relative;
  padding-inline: 20px;
}
.footer::after {
  content: "";
  height: 100%;
  width: 100%;
  max-width: 692px;
  background: url(/assets/images/footerImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 70px;
  right: 0;
}
.footer__logo {
  width: 306px;
  height: 107px;
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.footer .img-wrap {
  position: relative;
  margin-bottom: 176px;
}
.footer .img-wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  top: 50%;
  left: -102%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 20px;
  margin-bottom: 199px;
}
.footer__contacts-item {
  flex-direction: column;
  display: flex;
  gap: 10px;
}
.footer__contacts-title {
  color: #B3B3B3;
}
.footer__contacts-value {
  color: #000000;
}
.footer__rights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  z-index: 1;
  color: #C2C2C2;
  font-size: 20px;
  font-weight: 200;
}
.footer__rights-link {
  text-decoration: none;
}
.footer__rights-link:hover {
  text-decoration: underline;
}
.footer__rights-link:visited {
  color: #C2C2C2;
}

@media screen and (max-width: 1200px) {
  .footer::after {
    width: 50%;
  }
  .footer__rights {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 0;
  }
  .footer__logo {
    margin-bottom: 20px;
    width: 200px;
  }
  .footer .img-wrap {
    margin-bottom: 100px;
  }
  .footer__contacts {
    margin-bottom: 100px;
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .footer::after {
    display: none;
  }
  .footer__logo {
    margin-bottom: 20px;
    width: 200px;
  }
  .footer .img-wrap {
    margin-bottom: 50px;
  }
  .footer .img-wrap::before {
    display: none;
  }
  .footer__contacts {
    margin-bottom: 50px;
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .footer__logo {
    width: 157px;
    height: 54px;
    margin: 0;
  }
  .footer__contacts {
    gap: 30px;
    margin-bottom: 70px;
  }
  .footer__rights {
    gap: 15px;
    margin-bottom: 25px;
  }
  .img-wrap {
    margin-top: 100px;
    margin-bottom: 40px;
  }
}
.connect {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect.hidden {
  display: none;
}

.popup {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  padding: 30px 76px;
  position: relative;
  max-width: 600px;
  margin-inline: 20px;
}
.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.popup__close svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.popup__heading {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.popup__text {
  text-align: center;
  color: #7D7D7D;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 130%;
}
.popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.popup__input {
  background: transparent;
  border: 1px solid #D6D6D6;
  outline: none;
  padding: 15px 18px;
}
.popup__input::placeholder {
  color: #7C7C7C;
}
.popup__btn {
  display: flex;
  align-items: center;
  background: #000000;
  border: none;
  padding: 12px 57px;
  cursor: pointer;
}
.popup__btn p {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 300;
  font-family: Unbounded;
}

@media screen and (max-width: 540px) {
  .popup {
    gap: 20px;
  }
  .popup__heading {
    font-size: 18px;
  }
  .popup__text {
    font-size: 14px;
    max-width: 275px;
  }
  .popup__inputs {
    gap: 10px;
  }
  .popup__input {
    font-size: 14px;
  }
  .popup__btn {
    padding: 11px 47px;
  }
  .popup__btn p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
