body {
    font-family: "Unbounded", sans-serif;
    box-sizing: border-box;
    background: $main-white;
    font-weight: 300;
}

body.scrollHidden {
    overflow: hidden;
}

.content {
    position: relative;
}

.container {
    max-width: 1200px;
    min-width: 335px;
    margin: 0px auto;
}

.hero-wrap, .nav-wrap {
    background-color: $hero-bg;
}

.nav__transparent-bg {
    background: $navbar-bg;
}

.nav-hero-wrapper {
    background-color: $hero-bg;
}