.about {
  @include max-container;
  padding: 139px 0px;
  padding-left: 20px;
  padding-right: 20px;

  &__heading {
    @include section-heading($main-black, $main-black, 0px, 60px);
  }

  &__wrapper {
    display: flex;
    gap: 20px;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__category {
    background: transparent;
    color: $grey-text;
    border: 1px solid $grey-text;
    padding: 14px 0px;
    width: 285px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms ease;

    &:hover, &.active {
        background: $hero-bg;
        border-color: $hero-bg;
        color: $main-white;
    }
  }


  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__img {
    max-width: 895px;
    flex-grow: 1;
    object-fit: contain;
  }

  &__text {
    font-size: 18px;
    line-height: 130%;
  }
}


@media screen and (max-width: 1200px) {
  .about {

    &__wrapper {
      margin: 0px auto;
    }

    &__description {
      max-width: 690px;
    }

    &__img {
      object-fit: cover;
    }

    &__category {
      font-size: 14px;
      width: 200px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 60px 20px;

    &__heading {
      &::before {display: none;}
    }

    &__wrapper {
      flex-direction: column;
      margin: 0px;
    }

    &__categories {
      flex-direction: row;
      align-items: center;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__category {
      white-space: nowrap;
      flex-basis: 200px;
      flex-grow: 0;
    flex-shrink: 0;
      font-size: 14px;
      padding: 10px 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    &__heading {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 425px) {
  .about {
    padding-top: 0;
    padding-bottom: 0;
    &__heading {
      font-size: 18px;
      margin-top: 50px;
      margin-bottom: 20px;
    }

    &__categories {
      gap: 10px;
    }

    &__category {
      font-size: 12px;
      padding: 12px 0 13px;
      text-align: center;
    }

    &__description {
      gap: 10px;
    }

    &__text {
      font-size: 14px;
    }

    &__img {
      max-height: 179px;
    }
  }
}