.hero {
  @include max-container;
  background: $hero-bg;
  padding-bottom: 100px;

  &__heading {
    @include section-heading($main-white, $main-white, 70px, 26px);
  }

  &__text {
    color: $main-white;
    font-size: 20px;
  }
}

.image-ladder {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__line {
    display: flex;
    align-items: center;
  }

  &__text {
    color: $grey-text;
    font-size: 18px;
  }
}
